<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become fill width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000"
  >
    <svg viewBox="0 0 483 78" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M12.0646 48.4616C9.54096 48.4616 7.32505 47.8 5.4169 46.4766C3.52415 45.1532 2.16229 43.145 1.33132 40.4521C0.515743 37.7591 0.446496 34.366 1.12358 30.2727C1.83144 25.9948 3.07019 22.517 4.83984 19.8395C6.62488 17.1619 8.67152 15.1999 10.9798 13.9535C13.3034 12.707 15.6347 12.0838 17.9737 12.0838C19.728 12.0838 21.213 12.3916 22.4286 13.0071C23.6597 13.6072 24.6368 14.4151 25.3601 15.4308C26.0833 16.431 26.5758 17.5312 26.8374 18.7315H27.022L30.0227 0.727271H42.7642L34.9162 48H22.267L23.2365 42.1832H22.9595C22.267 43.3835 21.3822 44.4607 20.305 45.4148C19.2433 46.3535 18.0199 47.0998 16.6349 47.6538C15.25 48.1924 13.7266 48.4616 12.0646 48.4616ZM18.3892 38.6747C19.5587 38.6747 20.6205 38.3362 21.5746 37.6591C22.5286 36.9666 23.3365 35.9972 23.9982 34.7507C24.6599 33.4889 25.1293 31.9962 25.4062 30.2727C25.6986 28.5185 25.7217 27.0181 25.4755 25.7717C25.2293 24.5098 24.7369 23.5481 23.9982 22.8864C23.275 22.2093 22.3286 21.8707 21.1591 21.8707C19.9896 21.8707 18.9355 22.2093 17.9968 22.8864C17.0581 23.5481 16.2656 24.5098 15.6193 25.7717C14.9884 27.0181 14.5268 28.5185 14.2344 30.2727C13.942 32.027 13.9035 33.535 14.119 34.7969C14.3498 36.0433 14.8268 37.0051 15.5501 37.6822C16.2733 38.3439 17.2197 38.6747 18.3892 38.6747ZM57.3292 28.0568L54.0053 48H41.2638L49.1119 0.727271H61.3917L58.3448 19.2855H58.7141C59.8683 17.0234 61.484 15.2615 63.5614 13.9996C65.6388 12.7224 67.9933 12.0838 70.6246 12.0838C73.1175 12.0838 75.195 12.6532 76.8569 13.7919C78.5188 14.9306 79.696 16.5002 80.3885 18.5007C81.081 20.5012 81.2118 22.794 80.7809 25.3793L76.9954 48H64.2539L67.5778 28.0568C67.8548 26.3026 67.6316 24.9253 66.9084 23.9251C66.2005 22.9248 65.0387 22.4247 63.4229 22.4247C62.3765 22.4247 61.4225 22.6555 60.5607 23.1172C59.7144 23.5634 59.0065 24.2098 58.4371 25.0561C57.8832 25.8871 57.5138 26.8873 57.3292 28.0568ZM83.193 48L89.1021 12.5455H101.474L100.366 19.2855H100.736C101.797 16.7926 103.128 14.9691 104.729 13.815C106.329 12.6609 108.076 12.0838 109.969 12.0838C110.523 12.0838 111.053 12.13 111.561 12.2223C112.084 12.2992 112.6 12.407 113.108 12.5455L111.261 23.4403C110.661 23.2095 109.915 23.0479 109.022 22.9556C108.13 22.8479 107.337 22.794 106.645 22.794C105.414 22.794 104.26 23.0787 103.182 23.6481C102.121 24.2021 101.213 24.9869 100.459 26.0025C99.72 27.0027 99.2276 28.1799 98.9814 29.5341L95.9345 48H83.193ZM136.952 32.4886L140.276 12.5455H153.017L147.108 48H135.013L136.121 41.2599H135.752C134.659 43.522 133.028 45.2917 130.858 46.5689C128.704 47.8307 126.303 48.4616 123.656 48.4616C121.179 48.4616 119.109 47.8923 117.447 46.7536C115.785 45.6148 114.608 44.0452 113.916 42.0447C113.223 40.0443 113.085 37.7514 113.5 35.1662L117.286 12.5455H130.027L126.703 32.4886C126.442 34.2429 126.665 35.6201 127.373 36.6204C128.096 37.6206 129.258 38.1207 130.858 38.1207C131.92 38.1207 132.874 37.8976 133.72 37.4513C134.582 36.9897 135.29 36.3434 135.844 35.5124C136.413 34.6661 136.783 33.6581 136.952 32.4886ZM195.229 12.5455L177.41 48H162.637L156.635 12.5455H169.562L171.408 35.9972H171.777L181.38 12.5455H195.229ZM201.842 48.554C199.596 48.554 197.664 48.1847 196.049 47.446C194.448 46.692 193.279 45.5533 192.54 44.0298C191.817 42.491 191.655 40.5521 192.055 38.2131C192.378 36.2741 192.986 34.6199 193.879 33.2504C194.771 31.8808 195.879 30.7575 197.203 29.8803C198.526 29.0032 200.011 28.3338 201.658 27.8722C203.32 27.3951 205.074 27.0874 206.92 26.9489C208.921 26.795 210.544 26.6026 211.791 26.3718C213.037 26.141 213.968 25.8255 214.584 25.4254C215.199 25.0253 215.569 24.4867 215.692 23.8097V23.7173C215.83 22.794 215.584 22.0862 214.953 21.5938C214.338 21.1013 213.476 20.8551 212.368 20.8551C211.168 20.8551 210.129 21.1167 209.252 21.6399C208.39 22.1631 207.797 22.9787 207.474 24.0866H195.748C196.241 21.9323 197.249 19.9472 198.772 18.1314C200.311 16.3002 202.35 14.8383 204.889 13.7457C207.444 12.6378 210.49 12.0838 214.03 12.0838C216.553 12.0838 218.769 12.3839 220.677 12.984C222.586 13.5688 224.163 14.392 225.409 15.4538C226.671 16.5002 227.556 17.7313 228.064 19.147C228.587 20.5473 228.71 22.0708 228.433 23.7173L224.371 48H212.46L213.291 43.0142H213.014C212.091 44.3376 211.052 45.4071 209.898 46.2227C208.759 47.0382 207.513 47.6307 206.159 48C204.82 48.3693 203.381 48.554 201.842 48.554ZM207.382 40.5213C208.336 40.5213 209.275 40.3213 210.198 39.9212C211.121 39.5211 211.914 38.944 212.576 38.19C213.237 37.436 213.66 36.5204 213.845 35.4432L214.307 32.4886C213.968 32.6271 213.591 32.7579 213.176 32.881C212.776 32.9888 212.352 33.0965 211.906 33.2042C211.475 33.3119 211.014 33.4119 210.521 33.5043C210.044 33.5966 209.552 33.6889 209.044 33.7812C208.028 33.9351 207.174 34.189 206.482 34.543C205.789 34.8815 205.251 35.3047 204.866 35.8125C204.481 36.3049 204.243 36.8589 204.15 37.4744C204.012 38.4439 204.235 39.1979 204.82 39.7365C205.42 40.2597 206.274 40.5213 207.382 40.5213ZM256.242 39.598L258.827 24.456H260.489L271.107 12.5455H285.418L267.968 31.1037H264.367L256.242 39.598ZM243.408 48L251.256 0.727271H263.997L256.149 48H243.408ZM265.29 48L259.473 33.9659L269.352 24.9176L279.878 48H265.29ZM298.984 28.0568L295.661 48H282.919L290.767 0.727271H303.047L300 19.2855H300.369C301.524 17.0234 303.139 15.2615 305.217 13.9996C307.294 12.7224 309.649 12.0838 312.28 12.0838C314.773 12.0838 316.85 12.6532 318.512 13.7919C320.174 14.9306 321.351 16.5002 322.044 18.5007C322.736 20.5012 322.867 22.794 322.436 25.3793L318.651 48H305.909L309.233 28.0568C309.51 26.3026 309.287 24.9253 308.564 23.9251C307.856 22.9248 306.694 22.4247 305.078 22.4247C304.032 22.4247 303.078 22.6555 302.216 23.1172C301.37 23.5634 300.662 24.2098 300.092 25.0561C299.538 25.8871 299.169 26.8873 298.984 28.0568ZM334.635 48.554C332.389 48.554 330.457 48.1847 328.842 47.446C327.241 46.692 326.072 45.5533 325.333 44.0298C324.61 42.491 324.448 40.5521 324.848 38.2131C325.171 36.2741 325.779 34.6199 326.672 33.2504C327.564 31.8808 328.672 30.7575 329.996 29.8803C331.319 29.0032 332.804 28.3338 334.451 27.8722C336.112 27.3951 337.867 27.0874 339.713 26.9489C341.714 26.795 343.337 26.6026 344.584 26.3718C345.83 26.141 346.761 25.8255 347.377 25.4254C347.992 25.0253 348.362 24.4867 348.485 23.8097V23.7173C348.623 22.794 348.377 22.0862 347.746 21.5938C347.13 21.1013 346.269 20.8551 345.161 20.8551C343.96 20.8551 342.922 21.1167 342.045 21.6399C341.183 22.1631 340.59 22.9787 340.267 24.0866H328.541C329.034 21.9323 330.042 19.9472 331.565 18.1314C333.104 16.3002 335.143 14.8383 337.682 13.7457C340.237 12.6378 343.283 12.0838 346.823 12.0838C349.346 12.0838 351.562 12.3839 353.47 12.984C355.379 13.5688 356.956 14.392 358.202 15.4538C359.464 16.5002 360.349 17.7313 360.857 19.147C361.38 20.5473 361.503 22.0708 361.226 23.7173L357.164 48H345.253L346.084 43.0142H345.807C344.884 44.3376 343.845 45.4071 342.691 46.2227C341.552 47.0382 340.306 47.6307 338.952 48C337.613 48.3693 336.174 48.554 334.635 48.554ZM340.175 40.5213C341.129 40.5213 342.068 40.3213 342.991 39.9212C343.914 39.5211 344.707 38.944 345.369 38.19C346.03 37.436 346.453 36.5204 346.638 35.4432L347.1 32.4886C346.761 32.6271 346.384 32.7579 345.969 32.881C345.569 32.9888 345.145 33.0965 344.699 33.2042C344.268 33.3119 343.807 33.4119 343.314 33.5043C342.837 33.5966 342.345 33.6889 341.837 33.7812C340.821 33.9351 339.967 34.189 339.275 34.543C338.582 34.8815 338.044 35.3047 337.659 35.8125C337.274 36.3049 337.036 36.8589 336.943 37.4744C336.805 38.4439 337.028 39.1979 337.613 39.7365C338.213 40.2597 339.067 40.5213 340.175 40.5213ZM379.409 28.0568L376.085 48H363.344L369.253 12.5455H381.348L380.24 19.2855H380.61C381.733 17.0234 383.372 15.2615 385.526 13.9996C387.696 12.7224 390.089 12.0838 392.705 12.0838C395.213 12.0838 397.298 12.6532 398.96 13.7919C400.622 14.9306 401.799 16.5002 402.492 18.5007C403.184 20.5012 403.307 22.794 402.861 25.3793L399.075 48H386.334L389.658 28.0568C389.95 26.3026 389.735 24.9253 389.012 23.9251C388.304 22.9248 387.134 22.4247 385.503 22.4247C384.472 22.4247 383.526 22.6555 382.664 23.1172C381.818 23.5634 381.11 24.2098 380.54 25.0561C379.986 25.8871 379.609 26.8873 379.409 28.0568ZM421.431 28.0568L418.107 48H405.365L411.275 12.5455H423.37L422.262 19.2855H422.631C423.754 17.0234 425.393 15.2615 427.548 13.9996C429.717 12.7224 432.11 12.0838 434.726 12.0838C437.234 12.0838 439.32 12.6532 440.982 13.7919C442.643 14.9306 443.821 16.5002 444.513 18.5007C445.206 20.5012 445.329 22.794 444.882 25.3793L441.097 48H428.355L431.679 28.0568C431.972 26.3026 431.756 24.9253 431.033 23.9251C430.325 22.9248 429.156 22.4247 427.525 22.4247C426.493 22.4247 425.547 22.6555 424.685 23.1172C423.839 23.5634 423.131 24.2098 422.562 25.0561C422.008 25.8871 421.631 26.8873 421.431 28.0568ZM457.081 48.554C454.835 48.554 452.904 48.1847 451.288 47.446C449.687 46.692 448.518 45.5533 447.779 44.0298C447.056 42.491 446.894 40.5521 447.295 38.2131C447.618 36.2741 448.226 34.6199 449.118 33.2504C450.011 31.8808 451.119 30.7575 452.442 29.8803C453.765 29.0032 455.25 28.3338 456.897 27.8722C458.559 27.3951 460.313 27.0874 462.16 26.9489C464.16 26.795 465.784 26.6026 467.03 26.3718C468.276 26.141 469.207 25.8255 469.823 25.4254C470.439 25.0253 470.808 24.4867 470.931 23.8097V23.7173C471.069 22.794 470.823 22.0862 470.192 21.5938C469.577 21.1013 468.715 20.8551 467.607 20.8551C466.407 20.8551 465.368 21.1167 464.491 21.6399C463.629 22.1631 463.037 22.9787 462.714 24.0866H450.988C451.48 21.9323 452.488 19.9472 454.012 18.1314C455.55 16.3002 457.589 14.8383 460.128 13.7457C462.683 12.6378 465.73 12.0838 469.269 12.0838C471.793 12.0838 474.009 12.3839 475.917 12.984C477.825 13.5688 479.402 14.392 480.649 15.4538C481.91 16.5002 482.795 17.7313 483.303 19.147C483.826 20.5473 483.949 22.0708 483.672 23.7173L479.61 48H467.699L468.53 43.0142H468.253C467.33 44.3376 466.291 45.4071 465.137 46.2227C463.999 47.0382 462.752 47.6307 461.398 48C460.059 48.3693 458.62 48.554 457.081 48.554ZM462.621 40.5213C463.575 40.5213 464.514 40.3213 465.437 39.9212C466.361 39.5211 467.153 38.944 467.815 38.19C468.477 37.436 468.9 36.5204 469.084 35.4432L469.546 32.4886C469.207 32.6271 468.83 32.7579 468.415 32.881C468.015 32.9888 467.592 33.0965 467.145 33.2042C466.715 33.3119 466.253 33.4119 465.76 33.5043C465.283 33.5966 464.791 33.6889 464.283 33.7812C463.268 33.9351 462.414 34.189 461.721 34.543C461.029 34.8815 460.49 35.3047 460.105 35.8125C459.721 36.3049 459.482 36.8589 459.39 37.4744C459.251 38.4439 459.474 39.1979 460.059 39.7365C460.659 40.2597 461.513 40.5213 462.621 40.5213Z"
        fill="#213C79"></path>
    </svg>
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between items-center"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span>UI/UX Designer</span>
            <span class="font-bold">Product Design</span>
            <span class="italic">Freelancer</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-xs font-semibold"
            >Available for work</span
          >
        </div>
        <div>
          <ul class="items-center inline-flex gap-3 relative">
            <li>
              <a
                href="https://www.linkedin.com/in/dhruva-khanna-a30a18105/"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
            <li>
              <a
                href="https://www.behance.net/dhruvkhana2"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M22 7h-7v-2h7v2zm1.726 10c-.442 1.297-2.029 3-5.101 3-3.074 0-5.564-1.729-5.564-5.675 0-3.91 2.325-5.92 5.466-5.92 3.082 0 4.964 1.782 5.375 4.426.078.506.109 1.188.095 2.14h-8.027c.13 3.211 3.483 3.312 4.588 2.029h3.168zm-7.686-4h4.965c-.105-1.547-1.136-2.219-2.477-2.219-1.466 0-2.277.768-2.488 2.219zm-9.574 6.988h-6.466v-14.967h6.953c5.476.081 5.58 5.444 2.72 6.906 3.461 1.26 3.577 8.061-3.207 8.061zm-3.466-8.988h3.584c2.508 0 2.906-3-.312-3h-3.272v3zm3.391 3h-3.391v3.016h3.341c3.055 0 2.868-3.016.05-3.016z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li><li>
              <a
                href="https://x.com/khanadhruv"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M15.3 5.55a2.9 2.9 0 0 0-2.9 2.847l-.028 1.575a.6.6 0 0 1-.68.583l-1.561-.212c-2.054-.28-4.022-1.226-5.91-2.799-.598 3.31.57 5.603 3.383 7.372l1.747 1.098a.6.6 0 0 1 .034.993L7.793 18.17c.947.059 1.846.017 2.592-.131 4.718-.942 7.855-4.492 7.855-10.348 0-.478-1.012-2.141-2.94-2.141zm-4.9 2.81a4.9 4.9 0 0 1 8.385-3.355c.711-.005 1.316.175 2.669-.645-.335 1.64-.5 2.352-1.214 3.331 0 7.642-4.697 11.358-9.463 12.309-3.268.652-8.02-.419-9.382-1.841.694-.054 3.514-.357 5.144-1.55C5.16 15.7-.329 12.47 3.278 3.786c1.693 1.977 3.41 3.323 5.15 4.037 1.158.475 1.442.465 1.973.538z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li><li>
              <a
                href="mailto:khanadhruv@gmail.com"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
      </div>
      <div
        class="h-24 bg-secondary flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150"
      >
      </div>
      <div class="flex w-full">
        <span class="text-xs font-medium text-secondary flex"
          >Hailing from &nbsp;<a class="hover:text-black duration-200 font-bold"
            >Vancouver, Canada</a
          ></span
        >
        <span class="text-xs font-medium text-secondary flex ml-auto"
          >Shipping designs &nbsp;<a
            class="hover:text-black text-secondary duration-200 font-bold"
            >Worldwide</a
          ></span
        >
      </div>
    </div>
  </div>
</section>
