---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        I'm a UI/UX designer (Product Designer) trying to be virtuoso of the
        virtual. I craft interfaces that are intuitive as they are beautiful,
        ensuring that every interaction feels as natural as a conversation. I
        have customers worldwide and have had successful projects. I'm currently
        the Lead Designer at Tech2Step Canada in Vancouver, BC.
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        I am currently available to work and Enquiries, but I'm also looking for
        work. <a
          href="img/Resume_Dhruva Khanna-1.pdf"
          target="_blank"
          rel="noopener noreferrer">Download my resume ↗</a
        >
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        If you need a landing page or redesign something that you already have,
        do not hesitate to get in contact. <a href="mailto:khanadhruv@gmail.com"
          >khanadhruv@gmail.com</a
        >
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        As a UI/UX Designer, I offer a unique and personalized approach to
        design and build exclusively and responsive landing pages using Figma
        and Adobe XD.
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        My singular focus on your project ensures efficient and effective
        results, delivering a stunning website tailored to your specific
        business needs and goals. Trust on my expertise allows to craft anything
        that will help you stand out and convert visitors into customers.
      </p>
    </div>
  </div>
</section>
