---
// Define testimonials/opinions data
const humanOpinions = [
  {
    name: "Khristine Carino,",
    role: "Founder of Tech2Step Network Canada",
    opinion:
      "Dhruva transformed our brand's identity with creative and visually striking designs that perfectly captured our essence. The designs were not only aesthetically pleasing but also strategically aligned with our goals.",
  },
  {
    name: "Tushar Tuteja,",
    role: "Founder of atlabs.ai",
    opinion:
      "His approach to UI/UX design is both strategic and artistic, ensuring that every project he touches is not only visually appealing but also highly functional.",
  },
  {
    name: "Tiancheng Chen,",
    role: "TwoHundredK Community",
    opinion:
      "Dhruva demonstrated exceptional skill in creating user-friendly wireframes and prototypes that perfectly aligned with our goals. Their designs not only streamlined the user journey but also received glowing feedback from our customers.",
  },
  {
    name: "Jen Newsted,",
    role: "Canada",
    opinion:
      "Dhruva's dedication and collaborative approach make working with them a fantastic experience. He has a unique ability to understand the vision and bring it to life through innovative and polished designs. Their professionalism and commitment to excellence are evident in every project they take on.",
  },
  {
    name: "Luis Juarez,",
    role: "Inside View Global",
    opinion:
      "Dhruva demonstrated exceptional talent in creating a consistent and appealing brand identity. The work received widespread appreciation and significantly enhanced our market presence.",
  },
  {
    name: "Clarisse Baudot,",
    role: "British Columbia Oracle Users Group (BCOUG)",
    opinion:
      "Dhruva’s designs brought life to our event branding. The cohesive visual elements created a professional and memorable experience for all attendees, receiving glowing feedback from our stakeholders.",
  },
  {
    name: "Kratika Agarwal,",
    role: "Founder of Manoshala",
    opinion:
      "Dhruva's designs strike the perfect balance between innovation and usability, setting a new standard in the UI/UX field. With a deep understanding of user behavior, Dhruva crafts UI/UX designs that are not only visually impressive but also incredibly intuitive and accessible.",
  },
  {
    name: "Rohit Nagdewani,",
    role: "Founder of Fresh from Farm",
    opinion:
      "His keen eye for detail and ability to anticipate user needs make Dhruva's designs both practical and visually stunning.",
  },
  {
    name: "Monisha Mothilal,",
    role: "Tech2Step Network Canada",
    opinion:
      "Working with Dhruva was a seamless experience. The attention to detail and ability to deliver high-quality graphics on time elevated our campaigns and left a lasting impression on our audience.",
  },
  {
    name: "Devansh Gajjar,",
    role: "Founder of Meris",
    opinion:
      "Dhruva's work in UI/UX is characterized by his innovative use of color and layout, creating interfaces that are as intuitive as they are beautiful.",
  },
];
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>human</span>
        <span class="font-bold">opinions</span>
      </h3>
      <div class="h-1.5 bg-secondary"></div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 pt-2 mt-2">
      {
        humanOpinions.map((opinion) => (
          <div>
            <p class="italic text-2xl block font-bold">
              {opinion.name} {opinion.role}
            </p>
            <p class="text-sm leading-relaxed mt-6">{opinion.opinion}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
